body {font:18px/1.25 'Arial', sans-serif; }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tweet-list {
    width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    display: flex;
}

.tweet-item {
    margin: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    width: 500px;
    flex-grow: 1;

}
.tweet-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
}

.tweet-header img {
    margin-right: 10px;
}

.tweet-body {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;

}

.tweet-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}